@{
    ViewData["Title"] = "Home Page";
}

<style>
    .jobTable {
        width: calc(100% - 8px);
        border: 1px solid darkgrey;
        margin: auto;
        font-size: 12px;
    }

    .jobTable tr th, .jobTable tr td {
        padding: 3px;
        vertical-align: top;
    }

    .jobTable tbody tr {
        height: 40px;
    }

    .job-col1 {
        min-width: 60px;
    }

    .jobTable tbody tr {
        border-bottom: 1px solid darkgrey;
    }

    .jobTable tbody tr:hover {
        background-color: #eee;
        cursor: pointer;
    }

    .job-col2 {
        min-width: 50px;
    }

    #error {
        font-weight: bold;
        color: red;
    }

    .job-col3 {
        width: 90px;
    }

    .filterCont{
        float: left;
        margin-left: 4px;
        margin-bottom: 15px;
        font-weight: bold;
    }

    .preloading {
        display: none;
    }

        .modalLoadingMessageContainer {
          text-align: center;
          background-color: white;
          position: fixed;
          width: 100vw;
          height: 100vh;
          top: 0;
          left: 0;
          opacity: .8;
          z-index: 1056;
    }

    .modalMessageText {
          z-index: 1057;
          width: 100%;
          margin-top: 20vh;
          left:0;
          position: fixed;
          text-align: center;
    }
</style>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        setError('@ViewBag.ErrorMsg')
        //document.getElementById('workcenter').value = '@ViewBag.SelectedWorkCenter'
    })

    function redirectToJobDetailPage(id) {
        //console.log('Redirect...')
        //document.querySelector('.preloading').style.display = "block";
        window.location.href = "/home/jobdetail?id=" + id + "&site=" + '@ViewBag.Site' + "&workCenter=" + '@ViewBag.WorkCenter'
    }

    function setError(text) {
        document.getElementById('error').innerText = text
    }

    function filterSelected() {
        window.location.href = "/?site=" + '@ViewBag.Site' + "&workCenter=" + document.getElementById('workcenter').value
    }
</script>

@model List<KGP.Models.ProductionLine>

<span id="error"></span>
<div class="text-center">
   @* <div class="filterCont">
        Work Center:
        <select id="workcenter" onchange="filterSelected()">
            <option value="">Select</option>
            @for (int i = 0; i < ViewBag.WorkCenters.Count; i++)
            {
                <option>@ViewBag.WorkCenters[i]</option>
            }
        </select>
    </div>*@
   <table class="jobTable">
       <thead>
            <tr style="background-color: #E0E0E0;">
                <th class="job-col5">Status</th>
                <th class="job-col2">ItemID</th>
                <th class="job-col3">Description</th>
                @*<th class="job-col4">Pallet</th>*@
                <th class="job-col4">Bag</th>
                <th class="job-col1">DueDate</th>
            </tr>
       </thead>
       <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                var job = Model[i];        

                <tr onclick="redirectToJobDetailPage(@job.ID)">
                    <td>@job.Status</td>
                    <td>@job.ItemID</td>
                    <td>@job.Description</td>
                    @*<td>@job.PalletQty</td>*@
                    <td>@job.Qty</td>
                    <td>@job.DueDate.ToString("MM/dd/yyyy")</td>
                </tr>
            }
       </tbody>
   </table>
</div>

<div class="preloading">

    <div class="modalLoadingMessageContainer"></div>

    <div class="modalMessageText">

        <h1>Loading...</h1>

    </div>

</div>
